.match-table-square {   
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
    width: 40px;
    height: 40px;
    display: table-cell;
    text-align: center
}

.matchtype-matched {
    background-color: pink;
}

.matchtype-disabled {
    background-color: grey;
}

.matchtype-possible-match {
    background-color: white;
}

.matchtype-not-a-match {
    background-color: black;
}