.match-table-square {   
    border: 2px solid black;
    border-collapse: collapse;
    width: 40px;
    height: 40px;
    display: table-cell;
    text-align: center
}

.matchtype-matched {
    background-color: pink;
}

.matchtype-disabled {
    background-color: lightgrey;
}

.matchtype-possible-match {
    background-color: white;
}

.matchtype-not-a-match {
    background-color: grey;
}

.matchtype-selected-for-match-up-ceremony {
    background-color: lightblue;
}