.match-table-row {
    display: table-row;
    border: 2px solid black;
    border-collapse: collapse;
}

.match-table {
    display: table;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
}